/* Weekly Assignment 5 Stylesheet */

body {
  background-image: url(/img/9-25-22-CU-Boulder-Womens-Volleyball-vs-ASU-10-scaled.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.team-name {
  position: fixed;
  top: 0;
  border-style: solid;
  border-width: thick;
  margin: 50px;
  padding: 50px;
  background-color: rgba(212, 175, 55, 0.4);
}

.score {
  position: fixed;
  bottom: 0;
  border-style: solid;
  border-width: thick;
  margin: 50px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}

h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 35px;
}
