body {
  background-color: #C6E3F5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: #533424;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 65px;
  margin-bottom: 20px;
}

p {
  font-size: 35px;
  margin-bottom: 50px;
  max-width: 1000px;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 35px;
}

.grid img {
  width: 500px;
  height: auto;
  object-fit: cover;
  border: 8px solid #533424;
}

@media screen {

  
  
}
